<div class='ui grid'>
    <div class="one column row">
        <div class="column">
            <h2>YouTube Search
                <img style="float: right;"
                     *ngIf="loading"
                     src="app/http-app/images/loading.gif">
            </h2>
        </div>
    </div>
    <div class="one column row">
        <div class="column">
            <search-box class="ui form"
                        (loading)="loading = $event"
                        (results)="updateResults($event)">
            </search-box>
        </div>
    </div>
    <search-result class="four wide column"
                   *ngFor="let result of results"
                   [result]="result">
    </search-result>
</div>